# Backend
backend/song-drill-api
backend/*.db
backend/*.db-wal
backend/*.db-shm
*.db
*.db-wal
*.db-shm

# Frontend
frontend/node_modules/
frontend/build/
frontend/.svelte-kit/
frontend/vite.config.ts.timestamp-*

# OS
.DS_Store
